div { width: 600px;
     height: 300px;
     background-color: #657165;
     border: 1px #789151;
     padding: 50px;
     margin: 30px;
     color: #bec3ba;
     font-weight: bold;
     text-align: center;}
body {background-color: #2f342c}
h1 {color: #bec3ba;
     font-family: 'Courier New', Courier, monospace}
h2 {color: #bec3ba;
 font-family: 'Courier New', Courier, monospace}
ul {color: #9c5e4f}
p {color: #9c5e4f;
 font-family:Georgia, 'Times New Roman', Times, serif;
margin: 30px}
